.head{
    background-color: rgb(3, 41, 3);
    color: white;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    position: fixed;
    top: 0;
    width: 100%;
}