html, body{
    overflow-y: auto;
    height: 100vh;
}

.main-container{
    margin-top: 70px;
}
.headlines{
    overflow-y: scroll;
    height: 100vh;
}
.content-container{
    height: 100vh;
    overflow-y: scroll;
}
.headlines h3{
    text-align: center;
    background-color: rgb(219, 219, 223);
}
.content-list li{
    overflow: hidden;
    margin: 10px;
    background-color: rgb(221, 249, 249);
    padding:10px ;
    border-radius: 5px;
    box-shadow: 2px 2px  5px grey;
}
.content-list li div{
    margin-bottom: 5px;
}

.headline-img{
    width: 100%;
    height: auto;
}
.content-img{
    width: 60%;
    height: auto;
}